@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-feature-settings: "rlig" 1, "calt" 1;
}

section {
  scroll-margin-top: 5rem;
}


